.title {
  font: 1em sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.leaderboard_container {
  box-sizing: border-box;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.leaderboard_container {
  height: 30%;
  background-color: rgb(25, 25, 25);
}

.TeamInfoBox {
  width: 80%;
  display: flex;
  flex-direction: row;
  background-color: wheat;
  margin: 4px;
  border-radius: 10px;
}
